@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* NAV */

nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin: 0 auto;
}

.logo {
  max-width: 75px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0px 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
}

.fa-circle-half-stroke {
  font-size: 20px;
}
