@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.logo {
    max-width: 50px;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 24px;
    text-col: black;
}




